
body {
	background-color: #000000;
	margin: 0 auto;
	padding: 2px;
}

.container {
	background-color: #6EF8A4;
	font-family: 'Patrick Hand', cursive;
	color: #FFFFFF;
}



.navbar-nav {
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

.display-4 {
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

.lead {
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

.jumbotron-fluid {
	background-color: #F3EC45;
	font-family: 'Patrick Hand', cursive;
	color: #000000;
	padding: 15px;
}

#about {
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

#speakers {
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

#footer {
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

h2 {
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

h3 {
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

.list-group-item {
	background-color: #F3EC45;
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

.mb-1 {
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

.row {
	background-color: #F3EC45;
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

.card {
	background-color: #FFFFFF;
}

.card-body {
	background-color: #F3EC45;
}

.card-title {
	background-color: #000000;
	font-family: 'Patrick Hand', cursive;
	color: #6EF8A4;
}

.col-md {
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

.nav-link {
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

.nav-item {
	font-family: 'Patrick Hand', cursive;
	color: #000000;
}

.list-group {
	background-color: #6EF8A4;
}

.collapse {
	font-family: 'Patrick Hand', cursive;
	color: #FFFFFF;
}

.dropdown-menu {
	background-color: #000000;
}

.dropdown-item {
	font-family: 'Patrick Hand', cursive;
	color: #FFFFFF;
}

