@charset "utf-8";
body {
	background-color: #6EF8A4;
	margin: 0 auto;
	padding: 2px;
}

nav {
	background-image: url("3.jpg");
	font-family: 'Poiret One', cursive;
	color: #000000;
	font-weight: bold;
	
}

title {
	font-family: 'Poiret One', cursive;
	color: #000000;
	font-weight: bold;
}

.jumbotron-fluid {
	background-image: url("3.jpg");
	background-size: cover;
	font-family: 'Poiret One', cursive;
	color: #000000;
	font-weight: bold;
}

#about {
	font-family: 'Poiret One', cursive;
	color: #000000;
	font-weight: bold;
}

#speakers {
	font-family: 'Poiret One', cursive;
	color: #000000;
	font-weight: bolder;
}

#footer {
	font-family: 'Poiret One', cursive;
	color: #000000;
	font-weight: bold;
}

h3 {
	font-family: 'Poiret One', cursive;
	color: #000000;
	font-weight: bold;
}

.list-group-item {
	font-family: 'Poiret One', cursive;
	color: #000000;
	font-weight: bolder;
}
