body {
	background-color: #6EF8A4;
	margin: 0 auto;
	padding: 2px;
}

navbar {
	font-family: 'Poiret One', cursive;
	
}

title {
	font-family: 'Poiret One', cursive;
}

.jumbotron {
	background: url(3.jpg);
	font-family: 'Poiret One', cursive;
}

#about {
	font-family: 'Poiret One', cursive;
}

#speakers {
	font-family: 'Poiret One', cursive;
}

#footer {
	font-family: 'Poiret One', cursive;
}

